/* Navigation & heading text NAVY BLUE #2E2F42 */
/* Body text SLATE #434455 */
/* Accent IRIS #4D5AE5*/
/* Hero text WHITE #FFFFFF */
/* Secondary background color CLOUD #F4F4FD*/

:root {
  --accent-color: #4d5ae5;
  --body-text: #434455;
  --heading-text: #2e2f42;
}

body {
  background-color: #ffffff;
  color: var(--body-text);
}
.logo {
  color: var(--heading-text);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.accent {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

/* site nav */

.site-nav .link {
  color: var(--heading-text);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.auth-nav .link {
  color: var(--heading-text);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

/* Hero */

.hero-title {
  background-color: aquamarine;
  color: #ffffff;
}

/* Section */

.section-title {
  color: #1923de;
}

/* Features */

.features .title {
  color: #2e2f42;
}
